.drawer {
    transition: 0.3s ease-out;
  }

  .slider {
    /* Container styles */
    max-width: 7xl; /* Adjust as needed */
    margin:auto; /* Center horizontally */
    overflow: hidden; /* Hide overflow for cleaner look */
  }
  
  .slider .slick-slide {
    /* Individual slide styles */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
  }
  
  .slider .slick-slide img {
    /* Image styles */
    object-fit: cover; /* Ensure image fills the slide area */
    width: 100%; /* Set image width to 100% of slide */
    height: auto; /* Maintain image aspect ratio */
  }
  
  /* Optional styles for navigation dots (if using dots: true in settings) */
  .slider .slick-dots {
    display: flex;
    justify-content: center; /* Center dots horizontally */
  }
  
  .slider .slick-dots button {
    /* Style individual dots */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray; /* Adjust color as needed */
    opacity: 0.5; /* Set initial opacity */
    transition: opacity 0.2s ease-in-out; /* Smooth opacity change on hover */
  }
  
  .slider .slick-dots button:hover {
    opacity: 1; /* Increase opacity on hover */
  }
  
  .slider .slick-dots .slick-active button {
    background-color: black; /* Adjust color as needed */
    opacity: 1; /* Set active dot to full opacity */
  }