.home-content {
    background-image: url('/images/main-bg.jpg');
    background-size: cover; /* Adjusts the size of the background image */
    background-position: center; /* Positions the background image at the center */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
     /* Sets the height of the background image to 100vh */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.bgcolor_1 {
    background-color: #3C55F9;
  }

.bgcolor_2 {
    background-color: #99C306;
}

.bgcolor_3 {
    background-color: #292824;
}

.color_2{
    color: #99C306;
}

.home_card {
    background-image: url('/images/home/card-bg.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}